.row{
  display: flex;
  justify-content: center;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
}

.active {
  background: black;
}

button {
  background: black;
  color: white;
  width: 150px;
  height: 50px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
