.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  box-sizing: border-box;
  height: 45px;
  width: 45px; 
  border: 1px solid black;
}

.active {
  background: blue;
}


